.App {
  text-align: center;
  font-size: 125%;
}

.App-header {
  background-color: #0a58f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 2rem;
}
img {
  margin: 25px;
}
